<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>RestoWeb</welcome-file>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>RestoWeb</servlet-name>
        <servlet-class>controller.RestoWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mapper</servlet-name>
        <servlet-class>domain.Mapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>controller.Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNewReservation</servlet-name>
        <servlet-class>controller.DisplayNewReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestoWeb</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoWeb</servlet-name>
        <url-pattern>/RestoWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mapper</servlet-name>
        <url-pattern>/Mapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNewReservation</servlet-name>
        <url-pattern>/DisplayNewReservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
